/*------------------------------------------------- Geral -------------------------------------------------*/
 h1, h2, h3, h4{
    color: blue;
 }


/*----------------------------------------------- HEADER -------------------------------------------------*/
.header{
    /*Config Grid*/
    display: grid;
    grid-template-rows:    repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    'nav'
    'h1'
    'frase'
    'botao';
    
    /*Config Estilo*/
    background-image:  url(../formativaDESW/img/b1.jpg);
    background-repeat: no-repeat;
    background-size:   cover;
    border:            0%;
    margin:            0%;

    /*Config de posicionamento*/
    justify-items:    center;
    align-items:      center;
    column-gap:       10%;

    /*Config tamanho*/
    height:           70dvh;
    width:            100%;
}

nav{
    grid-area:        nav;
    color:          white;
    justify-self:     center;
    align-self:       start;
    margin-top:       0.5%;
    width:            100%;
    
}
nav a{
    color:          white;
    text-decoration:  none;
}
nav button{

    background-color:blue;
    color:          white;
    border-color:   black;
    box-shadow:       1dvw;
}
 
header h1{
    grid-area:         h1;
    color:           white;
    font-size:         5dvw;
    font-style:        italic;
}

header p {
    color:           white;
    font-size:         1.5dvw;
    padding-left:      10dvw;
    padding-right:     10dvw;
}

.header_button01{

    width:             15dvw;
    height:            5dvh;
    border-radius:     1dvh;
    box-shadow:        10dvw;
}

.header_button02{
    background-color:  none;
    width:             15dvw;
    height:            5dvh;
    border-radius:     1dvh;
}

.pPrincial{
    grid-area:         frase;

}

.botaoPrincipal{
    grid-area:         botao;
}




/*------------------------------------------Primeiro article----------------------------------*/

.art01{
    /*Config Grid*/
    display: grid;
    grid-template-areas: 
    'texto img';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr;

    /*Config Posicionamento*/
    margin-left:          2dvw;
    margin-right:         2dvw;
    margin-top:           3dvh;

    /*Config Tamanho*/
}

.art01_section{ 
    grid-area:             texto;
    justify-self:          center;
    align-self:            center;
    height: 45dvh;

}

.art01_img{
    grid-area:             img;

}

.art01_h1{
    color:               black;
    font-size:             2.5dvw;
    justify-self:          left;
    align-self:            bottom;
}

.art01_p{
    /*Config estilo*/
    font-size:             1dvw;
    color:               black;

    /*Config posicionamento*/
    justify-self:          center;
    align-self:            center;
    margin-right:          3dvw;

}

/*-------------------------- Segundo Article -------------------------------*/

.art02{
    display: grid;
    grid-template-rows:      1fr;
    grid-template-columns:   repeat(3, 1fr);
    grid-template-areas:    
    "inova equipe suporte";


    margin-top:     4dvh;
    margin-left:    2dvw;
    margin-right:   2dvw;
    column-gap:     3dvh;
}

.art02_inova{
    grid-area: inova;
    padding: 2dvh;
    display: grid;
    grid-template-columns: 1fr, 5fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "img texto01"
                        "img texto";
}

.art02_equipe{
    grid-area: equipe;
    padding: 2dvh;
    display: grid;
    grid-template-columns: 1fr, 5fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "img texto01"
                        "img texto";
}

.art02_suporte{
    grid-area: suporte;
    padding: 2dvh;
    display: grid;
    grid-template-columns: 1fr, 5fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "img texto01"
                        "img texto";
}

#art02_texto{
    grid-area: texto;
}

#art02_texto01{
    grid-area: texto01;
}

#art02_img{
    grid-area: img;
}

.art02 h1{
    color:blue;
}

.art02 p {
    font-size: 1dvw;
}

.art02 section{
    background-color: silver;
    padding-right:      1dvw;
    padding-left:       1dvw;
    align-content:      center;
}

 /*------------------------- Terceiro article -------------------------*/

 .art03{
    display:                    grid;
    grid-template-columns:      1fr, 1fr;
    grid-template-rows:         1fr, 1fr;

    grid-template-areas:        'texto imagem'
                                'texto imagem';

    justify-items: center;

 }

 .art03_texto{
    grid-area: texto;

 }

 .art03_img{
    grid-area:          imagem;

 }
 #art03_img{
    align-self: center;
    height:     80%;
    width:      80%;
 }

 .art03_texto h1, h2{
    color: black;
 }

 /*------------------------------------ Quarto Article -----------------------------------------*/

 .art04{
    display: grid;
    grid-template-columns:  1fr, 1fr;
    grid-template-rows:     1fr, 1fr;
    grid-template-areas:    "img texto"
                            "img texto";
    
    justify-items: center;
 }

 .art04_img{
    grid-area: img;
    background-color: yellow;
    width: 50%;

 }

 .art04_texto{
    grid-area: texto;
    width: 50%;
 }

