/*------------------------------------------------- Geral -------------------------------------------------*/
main{
    width: 100%;
}

header{
    width: 100%;
    background-color: blue;
}

/*----------------------------------------------- HEADER -------------------------------------------------*/
.header{
    /*Config Grid*/
    display: grid;
    grid-template-rows:    repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    'nav'
    'h1'
    'frase'
    'botao';
    
    /*Config Estilo*/
    background-image:   url(../formativaDESW/img/b1.jpg);
    background-repeat:  no-repeat;
    background-size:    cover;
    border:             0%;
    margin:             0%;
    padding:            0%;

    /*Config de posicionamento*/
    column-gap:         10%;
    justify-items:      center;

    /*Config tamanho*/
    height:             100dvh;
    width:              100%;
}

nav{
    grid-area:              nav;
    color:                white;
    align-self:             start;
    margin-top:             0.5dvh;
    align-items:            center;

    width: 100%;

    display: grid;
    grid-template-areas: 
    "logo sobre servicos buton";
    
}
nav a{
    /*Estilo*/
    color:          white;
    text-decoration:  none;
    font-size: 150%;
    /*Posicionamento*/


}
nav button{
    /*Estilo*/
    background-color:   blue;
    color:              white;
    border-color:       blue;
    box-shadow:           1dvw;

    border-radius: 1dvw;

    font-size: 125%;

    /*Posicionamento*/
    justify-self: right;
    margin-right: 2dvw;

    /*Tamanho*/
    height: 5dvh;   
    width: 10dvw;
}

nav img{
    height:         12dvh;
    margin-left:    2dvw;
}
 
header h1{
    grid-area:         h1;
    color:           white;
    font-size:         5dvw;
    font-style:        italic;
}

header p {
    color:           white;
    font-size:         1.5dvw;
    padding-left:      10dvw;
    padding-right:     10dvw;
    margin-right:      12dvw;
    margin-left:       12dvw;
    
}

.header_button01{

    width:             15dvw;
    height:            5dvh;
    border-radius:     1dvh;
    box-shadow:        10dvw;

    background-color:  transparent;
    border-color:    white;
    color:           white;
}

.header_button02{
    background-color:blue;
    border-color:    blue;
    color:           white;
    width:             15dvw;
    height:            5dvh;
    border-radius:     1dvh;
}

.pPrincial{
    grid-area:         frase;

}

.botaoPrincipal{
    grid-area:         botao;
}




/*------------------------------------------Primeiro article----------------------------------*/

.art01{
    /*Config Grid*/
    display: grid;
    grid-template-areas: 
    'texto img';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr;

    /*Config Posicionamento*/
    margin-left:          4dvw;
    margin-right:         0dvw;
    margin-top:           3dvh;

    /*Config Tamanho*/
}

.art01_section{ 
    grid-area:              texto;
    justify-self:           center;
    align-content:          center;
    height:                 45dvh;


}

.art01_img{
    grid-area:              img;
    height:                 55dvh;
    width:                  55dvw;
    justify-self:           right;

    border-radius:          1dvw;
    margin-right:           1dvw

}

.art01_h1{
    color:               black;
    font-size:             250%;
    justify-self:          left;
    align-self:            bottom;
}

.art01_p{
    /*Config estilo*/
    font-size:             150%;
    color:               black;

    /*Config posicionamento*/
    justify-self:          center;
    align-self:            center;
    margin-right:          3dvw;

}

/*-------------------------- Segundo Article -------------------------------*/

.art02{
    /*Config Grid*/
    display: grid;
    grid-template-rows:         1fr;
    grid-template-columns:      repeat(3, 1fr);
    grid-template-areas:    
    "inova equipe suporte";

    /*Congif Posicionamento*/
    margin-top:                 4dvh;
    margin-left:                2dvw;
    margin-right:               2dvw;
    column-gap:                 3dvh;

    /*Config Estilo*/
    background-color:           rgb(223, 220, 220);
    border-radius:              1dvw;
}

.art02_inova{
    /*Config Grid*/
    grid-area:                  inova;
    padding:                    2dvh;
    display:                    grid;
    grid-template-columns:      1fr, 5fr;
    grid-template-rows:         1fr, 1fr;
    grid-template-areas:        "img texto01"
                                "img texto";

    row-gap: 0%;
}

.art02_equipe{
    /*Config Grid*/
    grid-area:                  equipe;
    padding:                    2dvh;
    display:                    grid;
    grid-template-columns:      1fr, 5fr;
    grid-template-rows:         1fr, 1fr;
    grid-template-areas:        "img texto01"
                                "img texto";
}

.art02_suporte{
    /*Config grid*/
    grid-area:                  suporte;
    padding:                    2dvh;
    display:                    grid;
    grid-template-columns:      1fr, 5fr;
    grid-template-rows:         1fr, 1fr;
    grid-template-areas:        "img texto01"
                                "img texto";
    
}

#art02_texto{
    grid-area:                  texto;
}

#art02_texto01{
    grid-area:                  texto01;
}

#art02_img{
    grid-area:                   img;
    height:                      10%;

    align-self:                  center;
}

.art02 h1{
    color:                      blue;
}

.art02 p {
    font-size:                   1dvw;
}

.art02 section{
    padding-right:               1dvw;
    padding-left:                1dvw;
    align-content:               center;
}

 /*------------------------- Terceiro article -------------------------*/

 .art03{
    display:                    grid;
    grid-template-columns:      1fr, 1fr;
    grid-template-rows:         1fr;

    grid-template-areas:        'texto imagem';

    justify-items:  none;
    margin-left:    2dvw;
    margin-right:   2dvw;
    margin-top:     4dvh;

 }

 .art03_texto{
    grid-area: texto;

 }

 .art03_img{
    grid-area:          imagem;

 }
 #art03_img{
    align-self: center;
    height:     80%;
    width:      80%;
 }

 .art03_texto h1, h2{
    color: black;
 }

 /*------------------------------------ Quarto Article -----------------------------------------*/

 .art04{
    display: grid;
    grid-template-columns:  1fr, 1fr;
    grid-template-rows:     1fr, 1fr;
    grid-template-areas:    "img texto"
                            "img texto";
    
    justify-items: center;
 }

 .art04_img{
    grid-area: img;
    background-color: yellow;
    width: 50%;

 }

 .art04_texto{
    grid-area: texto;
    width: 50%;
 }

